{% extends 'blog/base.html' %}

{% load staticfiles %}

{% block title %}edu{% endblock %}

{% block blog_entries%}

{% load django_markdown %}

<div class="page-header">
    <h3>MOOCs and tutorials</h3>
</div>

<div class="blog-main>">

    <p>
        {% for post in edu %}
            {% if post.publish %}
                {{ post.text|markdown|linebreaks }}
            {% endif %}
        {% endfor %}
    </p>

    <br/>

    <div id="accordion" class="panel-group">
        {% for org in orgs|dictsort:"title.lower" %}
        {% if org.publish %}
        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#{{ org.slug }}">
                <h4 class="panel-title">
                    <a href="#">{{ org.title }}</a>
                </h4>
            </div>
            <div id="{{ org.slug }}" class="panel-collapse collapse">
                {% for course in org.courses.all|dictsort:"title.lower" %}
                <div class="panel-body">
                    <p><a href="{{ course.url }}">{{ course.title }}</a></p>
                    <p>{{ course.description }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% endfor %}

        {% for org in orgs|dictsort:"title.lower" %}
        {% if not org.publish and org.title == 'Miscellaneous' or org.title == "Tutorials and Guides" %}
        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#{{ org.slug }}">
                <h4 class="panel-title">
                    <a href="#">{{ org.title }}</a>
                </h4>
            </div>
            <div id="{{ org.slug }}" class="panel-collapse collapse">
                {% for course in org.courses.all|dictsort:"title" %}
                <div class="panel-body">
                    <p><a href="{{ course.url }}">{{ course.title }}</a></p>
                    <p>{{ course.description }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>


{% endblock %}