{% extends 'blog/base.html' %}

{% load staticfiles %}

{% load django_markdown %}

{% block title %}home{% endblock %}

{% block blog_entries %}

        <div class="page-header">
            <h3>recent posts</h3>
        </div>

            {% for post in object_list %}
              <div class="post">
                <h2><a href="{% url "entry_detail" slug=post.slug %}">{{ post.title }}</a></h2>
                <p class="meta">{{ post.created }}</p>
                {{ post.body|markdown }}
              </div>
            {% endfor %}

{% endblock %}
