{% extends 'blog/base.html' %}

{% load staticfiles %}

{% block title %}home{% endblock %}

{% block blog_entries %}

    <div class="page-header">
        <h3>recent posts</h3>
    </div>

    {% for post in object_list %}
        <div class="post post-meta">
            <h2><a href="{% url "entry_detail" slug=post.slug %}">{{ post.title }}</a></h2>
            <p class="meta" id="tag">{{ post.created }}</p>
            {{ post.body_html|safe }}
        </div>
    {% endfor %}

{% endblock %}
